/*  Styling for Navegation Bar  */

.navbar {
width: 100%;
overflow: auto;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0;
}

.navbar a {
  float:left;
  padding:10px;
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover{
  background-color: gold;
}

/* .navbar a.active{
  background-color: gold;
} */

.navbar .icon {
  display: none;
}



  @media screen and (max-width: 500px) {
    .navbar a:not(:first-child){display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 500px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }